@import url("_variables.css");

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background);
  color: #fff;
  margin: 0;

}

/*
*
* TIPOGRAFIA
*
*/


h1,
h2 {
  font-weight: var(--fontWeightBold);
}

h1 {
  color: var(--colorH1);
  font-size: 5.8rem;
  margin: 0;
}

h2 {
  color: var(--colorH2);
  font-size: 2.4rem;
  margin: 0;
}

h3 {
  color: var(--colorH3);
  font-weight: var(--fontWeightRegular);
  font-size: 2rem;
  margin: 0;
}

h4 {
  color: var(--colorH4);
  font-weight: var(--fontWeightMedium);
  font-size: 2.8rem;
  margin: 0;
}

p {
  color: var(--colorP);
  font-weight: var(--fontWeightLight);
  font-size: 1.8rem;
}

small {
  color: var(--colorP);
  font-weight: var(--fontWeightLight);
  font-size: 1.4rem;
}

strong {
  color: var(--colorP);
  font-weight: var(--fontWeightRegular);
  font-size: 1.6rem;
}

section {
  margin: 100px 0;
}

/*MOBILE*/

.primaryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.primaryHeader .columnLeft a{
  font-size: 4rem;
  font-weight: var(--fontWeightBold);
  color: var(--colorText);
  text-decoration: none;
}

.primaryHeader .columnRight > nav {
  display: none;
}

.drawermenu {
  right: -300px;
  top: 0;
  width: 100%;
  max-width: calc(300px - 60px);
  height: calc(100vh - 60px);
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5);
  position: fixed;
  background-color: var(--background);
  z-index: 100;
  padding: 30px;
  display: flex;
  visibility: hidden;
  transition: all 0.3s ease;
  justify-content: space-between;
  flex-direction: column;
}

.drawermenu.opened{
  right: 0;
  visibility: visible;
}

.drawermenu nav ul li a {
  font-size: 2.4rem;
  line-height: calc(2.4rem + 2.6rem);
  color: var(--colorPrimaryMenu);
  text-decoration: none;
  width: 100%;
  display: block;
  border-bottom: 2px solid var(--colorBorder);
}

.drawermenu nav ul li:last-child a{
  border-bottom: none;
}

.drawermenu nav ul {
  list-style: none;
  padding-left: 0;
}


.btnOpenMenu, .closebutton {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btnOpenMenu svg path, .closebutton svg path {
  fill: var(--colorBtnOpenMenu);
}

.primaryHeader .columnLeft {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.primaryHeader .columnLeft button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.primaryHeader .columnLeft button svg {
  stroke: var(--colorText);
}

.primaryHeader .columnLeft h2 {
  font-size: 4rem;
  font-weight: var(--fontWeightBold);
}

.container {
  width: calc(100% - 30px);
  max-width: 1280px;
  margin: 0 auto;
}

/*SECTION BANNER*/

.sectionBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.sectionBanner .columnLeft {
  min-width: 50%;
}

.sectionBanner .columnLeft h1 {
  font-size: clamp(2rem, 5vw, 5.8rem);
  line-height: clamp(2.5rem, 5vw, 6.5rem);
}

.sectionBanner .columnLeft h1 span {
  background: var(--primaryGradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sectionBanner .columnRight img {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 100%;
}

.sectionBanner .columnRight {
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 349px;
  max-height: 349px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.sectionBanner .columnRight::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--primaryGradient);
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  transform: rotate(-90deg);
}

/*SECTION STACK*/

.sectionStack header {
  text-align: left;
}

.sectionStack header h2 {
  margin-bottom: 10px;
}
.sectionStack header h3 {
  margin-top: 0;
}

.sectionStack .stackImagesContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 70px;
  margin: 50px auto 0 auto;
}

.sectionStack .stackImagesContainer img{
  width: 60px;
}

.imageLight,
.imageDark {
  display: none;
}

html[data-theme="light"] .imageLight {
  display: inline-block !important;
}

html[data-theme="dark"] .imageDark {
  display: inline-block !important;
}

/*SECTION PROJECTS*/

.sectionProjects header {
  text-align: center;
}

.sectionProjects header h2 {
  margin-bottom: 10px;
}
.sectionProjects header h3 {
  margin-top: 0;
}

.sectionProjects .projectsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 60px;
  margin-top: 100px;
}

.projectBox {
  max-width: 375px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--backgroundProjectBox);
  box-shadow: rgba(000, 000, 000, 0.2) 0px 8px 24px;
}

.projectContent {
  padding: 30px;
}

.projectContent h4 {
  margin: 0;
  line-height: 2.8rem;
}

.projectActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.projectActions .linkWithIcon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.projectActions .linkWithIcon a {
  color: var(--colorAnchor);
  text-decoration: underline;
  font-size: 1.6rem;
  font-weight: var(--fontWeightRegular);
}

.projectActions .linkWithIcon:first-child svg path {
  stroke: var(--colorAnchor);
}

.projectActions .linkWithIcon:last-child svg path {
  fill: var(--colorAnchor);
}

.viewmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

.viewmore a {
  color: var(--grey05) !important;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: var(--fontWeightMedium);
  text-decoration: none;
}

/*FOOTER*/

.footerWrapper .mainFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--colorBorder);
  border-bottom: none;
  bottom: none;
  flex-wrap: wrap;
  gap: 10px;
  padding: 40px 0;
}

.footerWrapper .mainFooter .mainFooterColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.footerWrapper .mainFooter .mainFooterColumn > div{
  width: 100%;
  text-align: center;
}

.footerWrapper .mainFooter .mainFooterColumn.left h2 {
  font-size: 4rem;
}

.mainFooterColumn.right ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 0;
} 

.mainFooterColumn.right a {
  color: var(--colorP);
  font-weight: var(--fontWeightLight);
  font-size: 1.8rem;
  text-decoration: none;
}

.miniFooter {
  display: none;
}

/*
* PAGES
*/

/*PAGE About*/
.about-page section {
  width: 100%;
  max-width: 700px;
  margin: 30px 0;
}

.about-page section header h2 {
  margin-bottom: 10px;
}

.about-page section.sectionAbout h1 {
  font-size: 4.2rem;
  font-weight: var(--fontWeightBold);
}

.about-page .expList {
  color: var(--colorP);
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.about-page .expList.secondlist .expList {
  border-bottom: none;
}

.about-page .expList .expListItem {
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.about-page .expList .expFirstLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.about-page .expList .expFirstLine h3 {
  font-size: 2rem;
  font-weight: var(--fontWeightRegular);
}

.about-page .expBadge {
  background-color: var(--green02);
  color: var(--green01);
  padding: 7px 15px;
  border-radius: 100px;
  cursor: default;
  font-size: 0.9rem;
  font-weight: var(--fontWeightMedium);
}

.about-page .expList .expSecondLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: var(--fontWeightMedium);
  color: var(--colorP);
}

.about-page .expList .expSecondLine > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

/*PAGE Stack*/

.sectionStack1 header {
  text-align: left;
}

.sectionStack1 header h2 {
  font-size: 4.2rem;
  font-weight: var(--fontWeightBold);
}
.sectionStack1 header h3 {
  font-size: 2rem;
  font-weight: var(--fontWeightRegular);
}

.sectionStack1 .stackImagesContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 70px;
  
  margin: 100px auto 0 auto;
}

.imageLight,
.imageDark {
  display: none;
}

html[data-theme="light"] .imageLight {
  display: inline-block !important;
}

html[data-theme="dark"] .imageDark {
  display: inline-block !important;
}

/*PAGE Projects*/

.sectionProjects header {
  text-align: left;
}

.sectionProjects header h2 {
  font-size: 4.2rem;
  font-weight: var(--fontWeightBold);
}
.sectionProjects header h3 {
  font-size: 2rem;
  font-weight: var(--fontWeightRegular);
}

.sectionProjects .projectsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.projectBox {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--backgroundProjectBox);
  box-shadow: rgba(000, 000, 000, 0.2) 0px 8px 24px;
}

.projectBox header img{
  width: 100%;
}

.projectContent {
  padding: 30px;
}

.projectContent h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  line-height: 2.8rem;
}

.projectContent P {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.projectActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.projectActions .linkWithIcon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.projectActions .linkWithIcon a {
  color: var(--colorAnchor);
  text-decoration: underline;
  font-size: 1.6rem;
  font-weight: var(--fontWeightRegular);
}

.projectActions .linkWithIcon:first-child svg path {
  stroke: var(--colorAnchor);
}

.projectActions .linkWithIcon:last-child svg path {
  fill: var(--colorAnchor);
}

/*PAGE Contact*/

.sectionContact {
  margin: 200px 0;
}

.sectionContact div{
  text-align: center;
}

.sectionContact h1 {
  font-size: clamp(2.8rem, 5vw, 5.8rem);
  line-height: 7rem;
  margin-bottom: 20px;
}

.sectionContact a{
  background: var(--primaryGradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(2.8rem, 5vw, 5.8rem);
  line-height: 7rem;
  font-weight: var(--fontWeightBold);
  text-decoration: none;
}
  

/*****
MEDIA QUERIES
*****/

 /*MEDIA QUERIE FOR SECTION PROJECTS*/
@media (min-width: 576PX){

.sectionProjects header {
  text-align: center;
}

.projectBox {
  width: calc(50% - 20px);
}

.projectContent h4 {
  font-size: clamp(2rem, 3vw, 2.8rem);
}

.projectContent P {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
}


}

  /*DESKTOP*/
@media (min-width: 769PX){

  /*TIPOGRAFIA*/

h1 {
  font-size: 5.8rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

p {
  font-size: 1.8rem;
}

small {
  font-size: 1.4rem;
}

strong {
  font-size: 1.6rem;
}

section {
  margin: 200px 0;
}

.primaryHeader{
  margin-top: 50px;
}

.primaryHeader .columnRight .btnOpenMenu {
  display: none;
}

.primaryHeader .columnRight {
  width: 80%;
}

.primaryHeader .columnRight nav {
  display: flex;
  justify-content: end;
  align-items: start;
}

.drawermenu {
  display: none;
}

.primaryHeader .columnRight nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.primaryHeader .columnRight nav ul li a {
  font-size: 2rem;
  color: var(--colorPrimaryMenu);
  text-decoration: none;
}

.primaryHeader .columnRight nav ul {
  list-style: none;
}

/*SECTION BANNER*/

.sectionBanner .columnRight img {
  width: calc(100% - 20px);
  height: calc(100% - 20px);

}

/*SECTION STACK*/

.sectionStack header {
  text-align: center;
}

.sectionStack .stackImagesContainer {
  column-gap: 100px;
   margin: 100px auto 0 auto;
}

.sectionStack .stackImagesContainer img{
  width: 120px;
}


.imageLight,
.imageDark {
  display: none;
}

html[data-theme="light"] .imageLight {
  display: inline-block !important;
}

html[data-theme="dark"] .imageDark {
  display: inline-block !important;
}

/*SECTION PROJECTS*/

.projectBox {
  width: calc(33.333% - 20px);
}

.projectContent h4 {
  font-size: clamp(1.9rem, 2.5vw, 2.8rem);
}

.sectionProjects .projectsContainer {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}


/*FOOTER*/

.footerWrapper .mainFooter {
  justify-content: space-between;
  border-bottom: 2px solid var(--colorBorder);
  border-top: none;
  height: 100px;
  gap: initial;
  padding: initial
}

.footerWrapper .mainFooter .mainFooterColumn {
  flex-wrap: initial;
  width: initial;
  justify-content: space-between;
  gap: initial;
}

.footerWrapper .mainFooter .mainFooterColumn > div{
  width: initial;
  text-align: initial;
}

.mainFooterColumn.right ul {
  padding-left: 40px;
} 

.miniFooter {
  display: block;
  padding: 60px 0;
}

.miniFooter nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding-left: 0;
  margin-top: 0;
}

.miniFooter nav ul li a {
  font-size: 2rem;
  color: var(--colorPrimaryMenu);
  text-decoration: none;
}

.miniFooter nav ul {
  list-style: none;
}


/*
* PAGES
*/

/*PAGE About*/

.about-page .expList.secondlist {
  border-bottom: 2px solid var(--colorBorder);
}

/*PAGE Stack*/

.sectionStack1 header {
  text-align: left;
}

.sectionStack1 header h2 {
  font-size: 4.2rem;
  font-weight: var(--fontWeightBold);
}
.sectionStack1 header h3 {
  font-size: 2rem;
  font-weight: var(--fontWeightRegular);
}

.sectionStack1 .stackImagesContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 70px;
  
  margin: 100px auto 0 auto;
}

.imageLight,
.imageDark {
  display: none;
}

html[data-theme="light"] .imageLight {
  display: inline-block !important;
}

html[data-theme="dark"] .imageDark {
  display: inline-block !important;
}

/*PAGE Stack*/

.sectionStack1 header {
  text-align: center;
  justify-content: center;
}


  }